<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/vepa2.svg" class=" logo d-inline-block align-top" alt="">
    Vepa corp.
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/home">
        <a class="nav-link" >Hem</a>
      </li>
      <li class="nav-item" routerLink="/book">
        <a class="nav-link" >Skapa bokning</a>
      </li>
      <li class="nav-item" routerLink="/newEmployee">
        <a class="nav-link">Ny anställd</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logOut()">Logga ut</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Anställd">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Sök</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
