.fa {
  margin: 0;
  padding: 0;
}

.card {
  cursor: pointer;
  border: 1px solid #e7ebec;

  background-color: #ecf0f1;
}

.list-container{
  overflow-y: auto;
  width: 360px;
  height: calc(100vh - 74px);
}

.video-code {
  vertical-align: middle;
  color: #fff;
  display: table-cell;
  text-align: center;
}

.video-code:hover {
  content: "\f01d" !important;

}

.video-code-container {
  background-color: #2f2f2f;
  border-radius: 50%;
  display: table;
  width: 60px;
  height: 60px;
}

.video-code-container:hover {
  content: "/f04b";
}

::ng-deep .dropdown-menu{
  top:0!important;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
  position: relative;
  margin: 2px;
}
.custom-day:hover, .custom-day.focused {
  background-color: #e6e6e6;
  max-height: 34px;
}

.workday{

  height: 24px;
  width: 24px;
  overflow: hidden;
  border:2px solid red;
  border-radius: 50%;
  display: inline-block;
  top: -25px;
  position: relative;




}

.selected{
  color:white!important;
  background-color: #18BC9C;
  max-height: 34px;
  outline: none;

}


::ng-deep .ngb-dp-day:focus{
  outline:none!important;

}
::ng-deep .ngb-dp-day{
  margin:2px

}
