@import "shared/style/bootswatch.css";

.btn:focus{
  box-shadow: none;
}

body{
  font-family: 'Varela Round';
}

.logo{
  background-color: white;
  border-radius: 50%;
  height: 30px;
}

.nav-item{
  cursor:pointer;
}
